.snippets {
    margin-bottom: 10px;
}

.snippet {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px 12px;
    background-color: #fff;
    cursor: pointer;
}

.auto-submit-checkbox-container {
    margin-left: 5px;
}

.auto-submit-checkbox-container input {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 10px;
    margin-left: 8px;
    margin-top: 3px;
}